html, body{
	font-family: Arial, sans-serif;
	margin: 0;
}

header {
	background-color:#2bb8ff;
	padding: 40px;
	text-align: center;
 }

 h1{
 	font-size: 90px;
 	color:white;
 }

 header img{
 	border-radius:150px;
 	width: 1000px;
 	border:10px solid #004999;
 }

.content{max-width: 900px
	margin 0 auto; 
	padding: 0 20px
}

p.caption{
	font-size: 16px
	color: lightgrey;
	font-style: italic;
}
a{
	color:#2bb8ff ;
	text-decoration: none;
}
footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #E6E6E6;
}
	footer ul li{
		display: inline-block;
		
		text-align: center;
	}